<?xml version="1.0"?>
<config>
	<modules>
		<Wsu_ComingSoon>
			<version>0.1.0</version>
		</Wsu_ComingSoon>
	</modules>
	
	<global>
		<helpers>
			<wsu_comingsoon>
				<class>Wsu_ComingSoon_Helper</class>
			</wsu_comingsoon>
		</helpers>
		<blocks>
			<wsu_comingsoon>
				<class>Wsu_ComingSoon_Block</class>
			</wsu_comingsoon>    
		</blocks>
		<models>
			<wsu_comingsoon>
				<class>Wsu_ComingSoon_Model</class>    
			</wsu_comingsoon>
		</models>
	</global>

	<stores>
		<default>
			<web>
				<routers>
					<standard>
						<area>frontend</area>
						<class>Wsu_ComingSoon_Controller_Router_Standard</class>
					</standard>
				</routers>
			</web>
		</default>
	</stores>

	<default>
		<web>
			<routers> 
				<standard>
					<area>frontend</area>
					<class>Wsu_ComingSoon_Controller_Router_Standard</class>
				</standard>
			</routers>
		</web>
		<comingsoon>
			<maintenance>
				<enabled>0</enabled>
				<allowedIPs></allowedIPs>
				<allowFrontendForAdmins>1</allowFrontendForAdmins>
				<message>Sorry, we are experiencing technical difficulties</message>
				<logVerbosity>1</logVerbosity>
				<logFile>maintenance.log</logFile>
			</maintenance>
			<coming>
				<enabled>0</enabled>
				<allowedIPs></allowedIPs>
				<allowFrontendForAdmins>1</allowFrontendForAdmins>
				<message>Store is coming soon.</message>
				<logVerbosity>1</logVerbosity>
				<logFile>maintenance.log</logFile>
			</coming>
		</comingsoon>
		
		
		
		
		
	</default>
 
	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<comingsoon>
											<title>Store Maintenance</title>
										</comingsoon>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	 
</config>
